@tailwind base;

@tailwind components;

@tailwind utilities;

/* create a btn class using @apply */
.btn-submit {
  @apply bg-blue-500 hover:bg-blue-700 text-white w-full font-bold py-2 px-4 rounded text-center disabled:opacity-80 disabled:outline-none disabled:cursor-not-allowed disabled:hover:bg-blue-400
}